@page "/"
@using Microsoft.AspNetCore.Http.Connections
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging.Console
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>

<hr>

@if (IsConnected)
{
    <span> Connected</span>
}
else
{
    <spa>Disconnected</spa> 
}


<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {

    private HubConnection hubConnection;
    private List<string> messages = new List<string>();
    private string userInput = "";
    private string messageInput="";
    public bool IsConnected = false;

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(5000);
        //hubConnection = new HubConnectionBuilder()
        //    .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
        //    .Build();

        //applied the additional changes as mentioned here
        //https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/signalr?view=aspnetcore-5.0&pivots=webassembly
        //https://docs.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/handling-connection-lifetime-events
        //https://docs.microsoft.com/en-us/aspnet/core/signalr/configuration?view=aspnetcore-5.0&tabs=dotnet#configure-additional-options
        hubConnection = new HubConnectionBuilder()
            .WithAutomaticReconnect() //https://docs.microsoft.com/en-us/aspnet/core/signalr/dotnet-client?view=aspnetcore-5.0&tabs=visual-studio#automatically-reconnect
            .WithUrl(new Uri(NavigationManager.ToAbsoluteUri("/chathub").ToString()), options =>
            {
                options.HttpMessageHandlerFactory = innerHandler =>
                    new IncludeRequestCredentialsMessageHandler { InnerHandler = innerHandler };
                options.Transports = (HttpTransportType.WebSockets | HttpTransportType.LongPolling);
                //options.Transports = HttpTransportType.WebSockets;
                options.Headers["Foo"] = "Bar";
            }).
           Build();

        hubConnection.ServerTimeout = TimeSpan.FromHours(24);
        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });


        hubConnection.Closed += error =>
        {
            if(hubConnection.State == HubConnectionState.Disconnected)
            {
                 Console.ForegroundColor = ConsoleColor.Red;
                Console.Error.WriteLine("XXXXX-Connection problems.");
                Console.ResetColor();
                Console.WriteLine(error.Message);
                StateHasChanged();
            }

            // Notify users the connection has been closed or manually try to restart the connection.

            return Task.CompletedTask;
        };

        //hubConnection.Closed = OnDisconnected;
        hubConnection.Closed += async (s) =>
        {
            IsConnected = false;
           
            Console.ForegroundColor = ConsoleColor.Red;
            Console.Error.WriteLine("Connection problems.");
            Console.ResetColor();
            Console.WriteLine(s.Message);
            StateHasChanged();
        };

        hubConnection.Reconnecting += error =>
        {
           if(hubConnection.State == HubConnectionState.Reconnecting)
            {
                 Console.ForegroundColor = ConsoleColor.Red;
                 Console.Error.WriteLine("XXXXX-Retrying...");
                Console.ResetColor();
            }

            // Notify users the connection was lost and the client is reconnecting.
            // Start queuing or dropping messages.

            return Task.CompletedTask;
        };

        hubConnection.Reconnecting += async (s) =>
        {
          
            Console.ForegroundColor = ConsoleColor.Red;
            Console.Error.WriteLine("Retrying...");
            Console.ResetColor();
        };

        hubConnection.Reconnected += connectionId =>
        {
           if( hubConnection.State == HubConnectionState.Connected)
            {
            
            Console.ForegroundColor = ConsoleColor.Green;
            Console.WriteLine("XXXXXX-Connection success...");
            Console.ResetColor();
  
            }

            // Notify users the connection was reestablished.
            // Start dequeuing messages queued while reconnecting if any.

            return Task.CompletedTask;
        };

        hubConnection.Reconnected += async (s) =>
        {
          
            Console.ForegroundColor = ConsoleColor.Green;
            Console.WriteLine("Connection success...");
            Console.ResetColor();
        };

        await hubConnection.StartAsync();

        if (hubConnection.State == HubConnectionState.Connected)
            IsConnected = true;
    }

    async Task Send()
    {
         await hubConnection.SendAsync("SendMessage", userInput, messageInput);
    }
    //async Task Send() =>
    //    await hubConnection.SendAsync("SendMessage", userInput, messageInput);

    //public bool IsConnected =>
    //    hubConnection.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            //If oyu have multiple listner ar client side and only wnats to close
                //one of them use the below method
            // hubConnection.Remove("ReceiveMessage");
            
            await hubConnection.DisposeAsync();
        }
    }

        
}